<launch>
  <arg name = "record_publishing" default = "false"/>
  <arg name = "rate" default = "10" />
  <node pkg = "beginner_tutorials" name = "publisher" type = "talker" output = "screen" args = "$(arg rate)" />
  <node pkg = "beginner_tutorials" name = "subscriber" type = "listener" output = "screen" />
  <node pkg="rosbag" type ="record_publishing" name="rosbag_record_publishing" args="record /publisher" output="screen" if="$(arg record_publisher)"/>
</launch>

