<launch>
  <arg name = "record" default = "false"/>
  <arg name = "rate" default = "10" />
  <node pkg = "beginner_tutorials" name = "publisher" type = "talker" output = "screen" args = "$(arg rate)" />
  <node pkg = "beginner_tutorials" name = "subscriber" type = "listener" output = "screen" />
  <node pkg="rosbag" type ="record" name="record_record_all" args="--all --output-name=$(find beginner_tutorials)/Results/rosbagResults.bag" output="screen" if="$(arg record)"/>
</launch>

